
<link href="http://www.professorcloud.com/styles/cloud-zoom.css" rel="stylesheet" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
<script type="text/JavaScript" src="http://www.professorcloud.com/js/cloud-zoom.1.0.2.js"></script>

<section class="w3l-banner-slider-main inner-pagehny">
    <div class="breadcrumb-infhny">
        <div class="top-header-content">
            <header class="tophny-header">
                <div class="container-fluid">
                    <div class="top-right-strip row">
                        <div class="top-hny-left-content col-lg-6 pl-lg-0">
                        </div>
                        <ul class="top-hnt-right-content col-lg-6">
                            <li class="button-log usernhy">
                                <a class="btn-open" href="#">
                                    <span class="fa fa-user" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li class="transmitvcart galssescart2 cart cart box_1">
                                <form action="#" method="post" class="last">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="display" value="1">
                                    <button class="top_transmitv_cart" type="submit" name="submit" value="">
                                        My Cart
                                        <span class="fa fa-shopping-cart"></span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                        <div class="overlay-login text-left">
                            <button type="button" class="overlay-close1">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <div class="wrap">
                                <h5 class="text-center mb-4">Login Now</h5>
                                <div class="login-bghny p-md-5 p-4 mx-auto mw-100">
                                    <!--/login-form-->
                                    <form action="#" method="post">
                                        <div class="form-group">
                                            <p class="login-texthny mb-2">Email address</p>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                                   placeholder="" required="">
                                            <small id="emailHelp" class="form-text text-muted">
                                                We'll never share your email
                                                with anyone else.
                                            </small>
                                        </div>
                                        <div class="form-group">
                                            <p class="login-texthny mb-2">Password</p>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                                        </div>
                                        <div class="form-check mb-2">
                                            <div class="userhny-check">
                                                <label class="check-remember container">
                                                    <input type="checkbox" class="form-check"> <span class="checkmark"></span>
                                                    <p class="privacy-policy">Remember me</p>
                                                </label>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="submit-login btn mb-4">Sign In</button>
                                    </form>
                                    <a asp-controller="ECommerce" asp-action="Login"> <button type="submit" class="submit-login btn mb-4">LogOut</button></a>
                                    <!--//login-form-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid serarc-fluid">
                        <a class="navbar-brand" href="index.html">
                            Spry<span class="lohny">S</span>tore
                        </a>
                        <!--/search-right-->
                        <div class="search-right">
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <form action="#" method="post" class="search-box">
                                        <input type="search" placeholder="Keyword" name="search" required="required" autofocus="">
                                        <button type="submit" class="btn">Search</button>
                                    </form>
                                </div>
                                <a class="close" href="#">×</a>
                            </div>
                            <!-- /search popup -->
                        </div>
                        <!--//search-right-->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon fa fa-bars"> </span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="ECommerce" asp-action="AdminDashboard">Home</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" >About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="ECommerce" asp-action="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="breadcrumb-contentnhy">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <h2 class="hny-title text-center"> Admin</h2>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section class="w3l-grids-hny-2">
        <div class="grids-hny-2-mian py-5">
            <div class="container py-lg-5">
                <h3 class="hny-title mb-0 text-center">Wel <span>come</span></h3>
                <p class="mb-4 text-center">All Your Favourites</p>
                <div class="welcome-grids row mt-5">
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <div class="col-lg-2 col-md-4 col-6 welcome-image">
                        <div class="boxhny13">
                            <img src="~/ECommerce/assets/images/Safeimagekit-resized-imgjpg (1).jpg" class="img-fluid" alt="" />
                            <div class="boxhny-content">
                                <h3 class="title">Product</h3>
                                <ul>
                                    <a asp-controller="ECommerce" asp-action="ProductAdd" style="color:white">ADD </a>
                                    <br />
                                    <a asp-controller="ECommerce" asp-action="GetProduct" style="color:white">Edit </a>
                                </ul>
                            </div>
                        </div>
                        <h4><a asp-controller="" asp-action="">Mobiles</a></h4>
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 welcome-image">
                        <div class="boxhny13">
                            <a asp-controller="ECommerce" asp-action="GetOrder">
                                <img src="~/ECommerce/assets/images/Order3.jpg" style="border-color:black" class="img-fluid" alt="" />
                                <div class="boxhny-content">
                                    <h3 class="title">View</h3>
                                </div>
                            </a>
                        </div>
                        <h4>
                            <a href="#URL">
                                Order List
                            </a>
                        </h4>
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 welcome-image">
                        <div class="boxhny13">
                            <a asp-controller="ECommerce" asp-action="GetEmail">
                                <img src="~/ECommerce/assets/images/gmail.jpg" class="img-fluid" alt="" />
                                <div class="boxhny-content">
                                    <h3 class="title">View</h3>
                                </div>
                            </a>
                        </div>
                        <h4><a href="#URL">Emails</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w3l-customers-sec-6">
        <div class="customers-sec-6-cintent py-5">
           <!-- /customers-->
            <div class="container py-lg-5">
                <h3 class="hny-title text-center mb-0 ">Customers <span>Love</span></h3>
                <p class="mb-5 text-center">What People Say</p>
                <div class="row customerhny my-lg-5 my-4">
                    <div class="col-md-12">
                        <div id="customerhnyCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#customerhnyCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#customerhnyCarousel" data-slide-to="1"></li>
                            </ol>
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="customer-info text-center">
                                                <div class="feedback-hny">
                                                    <span class="fa fa-quote-left"></span>
                                                    <p class="feedback-para">
                                                      Website is Easy and User Friendly to Purchase
                                                    </p>
                                                </div>
                                                <div class="feedback-review mt-4">
                                                    <img src="~/ECommerce/assets/images/c1.jpg" class="img-fluid" alt="">
                                                    <h5>Smith Roy</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="customer-info text-center">
                                                <div class="feedback-hny">
                                                    <span class="fa fa-quote-left"></span>
                                                    <p class="feedback-para">
                                                        Low Entry Cost is Easy and User Friendly to Purchase
                                                    </p>
                                                </div>
                                                <div class="feedback-review mt-4">
                                                    <img src="~/ECommerce/assets/images/c2.jpg" class="img-fluid" alt="">
                                                    <h5>Lora Grill</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="customer-info text-center">
                                                <div class="feedback-hny">
                                                    <span class="fa fa-quote-left"></span>
                                                    <p class="feedback-para">
                                                      Access to The Global Market  in Ecommerce
                                                    </p>
                                                </div>
                                                <div class="feedback-review mt-4">
                                                    <img src="~/ECommerce/assets/images/c3.jpg" class="img-fluid" alt="">
                                                    <h5>Laura Sten</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="customer-info text-center">
                                                <div class="feedback-hny">
                                                    <span class="fa fa-quote-left"></span>
                                                    <p class="feedback-para">
                                                        The more advocates you have, the fewer ads you have to buy
                                                    </p>
                                                </div>
                                                <div class="feedback-review mt-4">
                                                    <img src="~/ECommerce/assets/images/c4.jpg" class="img-fluid" alt="">
                                                    <h5>John Lee</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="customer-info text-center">
                                                <div class="feedback-hny">
                                                    <span class="fa fa-quote-left"></span>
                                                    <p class="feedback-para">
                                                        Lorem, ipsum dolor sit amet consectetur
                                                        adipisicing elit. Labore rem, dicta assumenda mollitia molestias
                                                        quas nihil quasis.
                                                    </p>
                                                </div>
                                                <div class="feedback-review mt-4">
                                                    <img src="~/ECommerce/assets/images/c4.jpg" class="img-fluid" alt="">
                                                    <h5>John Lee</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="customer-info text-center">
                                                <div class="feedback-hny">
                                                    <span class="fa fa-quote-left"></span>
                                                    <p class="feedback-para">
                                                        Lorem, ipsum dolor sit amet consectetur
                                                        adipisicing elit. Labore rem, dicta assumenda mollitia molestias
                                                        quas nihil quasis.
                                                    </p>
                                                </div>
                                                <div class="feedback-review mt-4">
                                                    <img src="~/ECommerce/assets/images/c3.jpg" class="img-fluid" alt="">
                                                    <h5>Laura Sten</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="customer-info text-center">
                                                <div class="feedback-hny">
                                                    <span class="fa fa-quote-left"></span>
                                                    <p class="feedback-para">
                                                        Lorem, ipsum dolor sit amet consectetur
                                                        adipisicing elit. Labore rem, dicta assumenda mollitia molestias
                                                        quas nihil quasis.
                                                    </p>
                                                </div>
                                                <div class="feedback-review mt-4">
                                                    <img src="~/ECommerce/assets/images/c1.jpg" class="img-fluid" alt="">
                                                    <h5>Smith Roy</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="customer-info text-center">
                                                <div class="feedback-hny">
                                                    <span class="fa fa-quote-left"></span>
                                                    <p class="feedback-para">
                                                        Lorem, ipsum dolor sit amet consectetur
                                                        adipisicing elit. Labore rem, dicta assumenda mollitia molestias
                                                        quas nihil quasis.
                                                    </p>
                                                </div>
                                                <div class="feedback-review mt-4">
                                                    <img src="~/ECommerce/assets/images/c2.jpg" class="img-fluid" alt="">
                                                    <h5>Lora Grill</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
